*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-image:url("./fundo.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 width:100%;
 color: white;
  }

main{
  background-image:url("./homem.png");     
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:480px;
    height: 680px;
    margin-left:33%;
}

header{
  width:100%;
  height: 10vh;
  display: inline-block;
}

 .headerImg{
   width: 40px;
  margin-left:100px;
 }

 ul{
   height:90px;
   padding: 4px;
 }

li{
  display:inline-block;
  margin-left: 35px;
  font-size: 14px;
  margin: 2;
}

.projeto{
    margin-left: 60px;
}

.universo{
  margin-left:400px;
}

.universo:hover{
  font-weight: bold;
}

.actor:hover{
  font-weight: bold;
}

.season:hover{
  font-weight: bold;
}

.community:hover{
  font-weight: bold;
}

main img{
width:300px;
height: 180px;
margin-left:20%;
margin-top: 65%;
}

button{
margin-left:28%;
background-color: #D81C1C;
width:48%;
height:7%;
border-radius:7px;
color:white;
font-size: 13px;
}

footer p{
width: 40%;
}